{% extends "layout_1_col.html" %}
{% load i18n %}
{% block header %}
{% block navigation %}
    {% include "partials/nav_primaryforregis.html" with expand_dropdown=1 %}
{% endblock %}
{% endblock %}
{% block content %}
<style>
#id_registration-password2,.alert{
  display:none;
}
label[for='id_registration-password2'],label[for='id_registration-password1'],label[for='id_registration-email']
{
   display:none;
}
.form-control{
    border-radius: 0px;
 height: 40px;
}
 
 .form-group{
         padding:0 3em;
       }

#id_registration-password2{
  display:none;
}
label[for='id_registration-password2']
{
   display:none;
}
@media ( max-width: 450px) {
    #fauve_logo{
    display:none;}
      #registration_btn{
       		height: 40px;
             width: 85%;
       		}
    }
       .register_form{
        padding:0;
        border:1px solid rgba(255,255,255,0.75);
        background-color: rgba(0,0,0,0.6);
        position:relative;
        top:50%;
        }

       p{
         margin:1em;
         font-size: 1.5em;
         font-weight: 100;
       }
       	#usage-guid,.moresocail>p{
          font-size: 1em;
          margin-bottom: 5px;
          font-weight: 100;
          text-align: center;
          }

       input:focus {
            border-color: #d8a745!important;
        }

       #register-block,#usage-guid{
 margin-top:15vh;}
        #voucher{
          visibility:hidden;
        }
       	@media ( min-width: 500px) {
       		#usage-guid,.moresocail>p{
       		 text-align: center;
       		}
       	 #registration_btn{
       		height: 40px;
             width: 85%;
       		}
        }

       .form-group{
         padding-left:3em;
       }
       #registration_btn{
        color: #fff;
        background-color:#d8a745; #rgb(230,193,102);
        border-color: #fff;
        border-radius: 0px;
       }
       #mainmenu,#language_selector{
         display:none
         }
       #fauve_logo{
         visibility: hidden;
         }

        #usage:hover{
          #usage-guid{
            display:none
          }
          }


</style>
<video width="100%" height="100%" preload="true" autoplay="true" loop="true" poster="/media/banner/7.png" id="bgvid">
    <source src="/media/vedio720p.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
    <source src="/media/vedio720p.mp4" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
</video>
 <section id="register-block">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-md-offset-4 register_form">
                <img src="/media/fauve_log.png" style="width:45%;margin-top:3em;" class="center-block">
                <hr  style="border: 1px solid rgba(255,255,255,0.25);">
                <form id="register_form" action="." method="post" class="form-stacked">
                    {% csrf_token %}
                    {% include "partials/form_fields.html" with form=registration_form %}
                      <div class="col-sm-12" style="margin-top: -15px;">
                        <button onclick="regis_btn()" id="registration_btn" name="registration_submit" type="submit" value="Register" class="btn btn-primary btn-lg center-block" data-loading-text="{%trans 'Registering...' %}">注册获取50元代金券</button>
                    </div>
                    <div class="col-sm-12" style="text-align:center;line-height: 3;" id="usage">
                        <small onclick="usageClick()" style="color: #d8a745;">使用说明</small>
                    </div>
                    {% if cancel_url %}
                        {% trans "or" %} <a href="{{ cancel_url }}">{% trans "cancel" %}</a>.
                    {% endif %}
                </form>
            </div>
            </div>
        </div>
 </section>

 <section id="usage-guid" style="display:none" onclick="confirmUsage()">
      <div class="container">
          <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4 register_form" style="border: 1px solid  rgba(255,255,255,0.75);background-color: rgba(0,0,0,0.5);position:relative;
    top:50%; ">
             <img src="/media/fauve_log.png" style="width:45%;margin-top: 3em;" class="center-block">
            <hr style="border: 1px solid rgba(255,255,255,0.25);">
            <div style="text-align:center">
                <p style="font-size: 1.2em;">使用说明：</p>
                <div class="moresocail" style="margin-top: 35px;">
                    <p>1. 此代金券仅为产品正式上线前提前注册用户提供。</p>
                    <p>2.每张代金券仅可使用一次。</p>
                    <p>3.此代金券无门槛使用，并可与其他优惠同时享受。</p>
                    <p>4.订单取消，代金券不予退还。</p>
                </div>
            </div>
        </div>
          </div>
      </div>
 </section>
<script>
$(".form-group>div").removeClass("col-xs-6").addClass("col-xs-12");
$("#id_registration-email").prop('placeholder','邮 箱')
$("#id_registration-password1").prop('placeholder','密 码')
$("input").focus(function() { // 获得焦点事件
    $(this).val("");
}); 
function usageClick(){
 $("#register-block").hide()
 $("#usage-guid").show()
    }

  function confirmUsage(){
    $("#register-block").show()
    $("#usage-guid").hide()
  }
 function regis_btn(){
    pass1 = $("#id_registration-password1").val()
    $("#id_registration-password2").val(pass1)
  }
</script>

<style>

     #id_registration-email,#id_registration-password1,#id_registration-password2{
        background-color: rgba(0,0,0,0.2);
        color: #fff;
         }
</style>
{% endblock content %}

