{% extends "layout_1_col.html" %}
{% load i18n %}
{% block header %}
{% block navigation %}
    {% include "partials/nav_primaryforregis.html" with expand_dropdown=1 %}
{% endblock %}
{% endblock %}
{% block content %}

<video width="100%" height="100%" preload="true" autoplay="true" loop="true" poster="/media/banner/7.png" id="bgvid">
    <source src="/media/vedio720p.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
    <source src="/media/vedio720p.mp4" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
</video>
<div class="wrp wrp5" id="register-block">
    <div class="box box5">
        <div ><img src="/media/fauve_log.png" style="width:45%;" class="center-block logo_block" ></div>
        <hr  style="border: 1px solid rgba(255,255,255,0.25);">
        <div class="form_block">
         <form id="register_form" action="." method="post" class="form-stacked">

              {% csrf_token %}
                    {% include "partials/form_fields.html" with form=registration_form %}

            <button onclick="regis_btn()" id="registration_btn" name="registration_submit" type="submit" value="Register" class="submmit" data-loading-text="{%trans 'Registering...' %}">获取50元代金券</button>
            <p id="usage" onclick="usageClick()">使用说明</p>

                    {% if cancel_url %}
                        {% trans "or" %} <a href="{{ cancel_url }}">{% trans "cancel" %}</a>.
                    {% endif %}
         </form>
        </div>
    </div>
</div>

<div class="wrp wrp5"  id="usage-guid" style="display:none" onclick="confirmUsage()">
    <div class="box box5">
        <div ><img src="/media/fauve_log.png" style="width:45%" class="center-block logo_block" ></div>
        <hr  style="border: 1px solid rgba(255,255,255,0.25);">
         <div style="text-align:center">
                <p style="font-size: 0.18rem;margin:0.35rem auto">使用说明：</p>
                <div class="moresocail" >
                    <p>1.此代金券仅为产品正式上线前注册用户提供。</p>
                    <p>2.每张代金券仅可使用一次。</p>
                    <p>3.此代金券无门槛使用。</p>
                    <p>4.订单取消，代金券不予退还。</p>
                </div>
            </div>
    </div>
</div>


<script>
$(".form-group>div").removeClass("col-xs-6").addClass("col-xs-12");
$("#id_registration-email").prop('placeholder','邮 箱')
$("#id_registration-password1").prop('placeholder','密 码')
$("input").focus(function() { // 获得焦点事件
    $(this).val("");
}); 
function usageClick(){
 $("#register-block").hide()
 $("#usage-guid").show()
    }

  function confirmUsage(){
    $("#register-block").show()
    $("#usage-guid").hide()
  }
 function regis_btn(){
    pass1 = $("#id_registration-password1").val()
    $("#id_registration-password2").val(pass1)
  }
</script>


{% endblock content %}

