{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<style>
.alert {
    display:none;
}
video#bgvid{
      position: fixed; right: 0; bottom: 0;
      min-width: 100%; min-height: 100%;
      width: auto; height: auto; z-index: -100;
      background: url(/media/banner/7.png) no-repeat;
      background-size: cover;
    }
</style>
<style>
#id_registration-password2,.alert{
  display:none;
}
label[for='id_registration-password2'],label[for='id_registration-password1'],label[for='id_registration-email']
{
   display:none;
}


 .form-group,.row,input,form,hr{
         padding:0;
         margin:0
       }
.form-control{
    border-radius: 0px;
    font-size: inherit;
}
#id_registration-password2{
  display:none;
}

label[for='id_registration-password2']
{
   display:none;
}

       .register_form{
        padding:0;
        border:1px solid rgba(255,255,255,0.75);
        background-color: rgba(0,0,0,0.6);
        }

       	#usage-guid,.moresocail>p{
          text-align: center;
          }
       .moresocail>p{
         margin: 0 0 0.06rem;
         font-size:0.18rem;
        }
       input:focus {
            border-color: #d8a745!important;
        }


        #voucher{
          visibility:hidden;
        }

       #registration_btn{
        color: #fff;
        background-color:#d8a745; #rgb(230,193,102);
        border-color: #fff;
        border-radius: 0px;
       }

        #usage:hover{
          #usage-guid{
            display:none
          }
          }

.wrp5 {
    margin-top: 1.9rem;
    text-align: center;
    overflow: auto;
}
.box5 {
    display: inline-block;
    vertical-align: middle;
    width: 4.8rem;
    min-height: 4.2rem;
    border: 1px solid #fff;
}
.wrp5:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-left: -0.25em;
    /* To offset spacing. May vary by font */
}

.logo_block{
    width: 4.8rem;
    height: 0.74rem;
    margin-top:0.66rem;
    margin-bottom:0.4rem;
    width:100%;
}

.form_block{
    min-height: 2.4rem;
}

.error-block {
    font-size: 1px;
    color: #b94a48;
    margin: 0;
    padding: 0;}
#id_registration-email,#id_registration-password1,.submmit{
    margin: 0 auto;
    width: 3.52rem;
    height: 0.4rem;
    margin-top:0.1rem
}
.submmit{
    font-size: 0.2rem;
}
#id_registration-email{
    margin-top:0.35rem
}
#usage{
    text-align: center;
    margin-top:0.15rem;
    color: #d8a745;
}
</style>
<script>
(function(designWidth, maxWidth) {
    var doc = document,
    win = window,
    docEl = doc.documentElement,
    remStyle = document.createElement("style"),
    tid;

    function refreshRem() {
        var width = docEl.getBoundingClientRect().width;
        maxWidth = maxWidth || 540;
        width>maxWidth && (width=maxWidth);
        var rem = width * 100 / designWidth;
        remStyle.innerHTML = 'html{font-size:' + rem + 'px;}';
    }

    if (docEl.firstElementChild) {
        docEl.firstElementChild.appendChild(remStyle);
    } else {
        var wrap = doc.createElement("div");
        wrap.appendChild(remStyle);
        doc.write(wrap.innerHTML);
        wrap = null;
    }
    //要等 wiewport 设置好后才能执行 refreshRem，不然 refreshRem 会执行2次；
    refreshRem();

    win.addEventListener("resize", function() {
        clearTimeout(tid); //防止执行两次
        tid = setTimeout(refreshRem, 300);
    }, false);

    win.addEventListener("pageshow", function(e) {
        if (e.persisted) { // 浏览器后退的时候重新计算
            clearTimeout(tid);
            tid = setTimeout(refreshRem, 300);
        }
    }, false);

    if (doc.readyState === "complete") {
        doc.body.style.fontSize = "16px";
    } else {
        doc.addEventListener("DOMContentLoaded", function(e) {
            doc.body.style.fontSize = "16px";
        }, false);
    }
})(1980, 1980);

    function adujestREM() {
        document.documentElement.style.fontSize = 100 + "px"
        document.write('<meta name="viewport" content="width=750, minimum-scale=_, maximum-scale=_, user-scalable=no">'.replace(/_/g, window.innerWidth / 750));
    }
    adujestREM()
</script>
<style>

     #id_registration-email,#id_registration-password1,#id_registration-password2{
        background-color: rgba(0,0,0,0.2);
        color: #fff;
         }
</style>
{% load staticfiles %}
<script src="{% static 'oscar/js/jquery/jquery-1.9.1.min.js' %}"></script>
<script src="http://api.html5media.info/1.1.8/html5media.min.js"></script>
    <script>
    $(document).ready(function(){
        dropdownOpen();
        });
    function dropdownOpen() {
        var $dropdownLi = $('li.dropdown');
        $dropdownLi.mouseover(function() {
        $(this).addClass('open');
        // $(this).addClass('active');
        }).mouseout(function() {
        $(this).removeClass('open');
         //$(this).removeClass('active');
         });}
    function showSearch(){
          var $searchtmp = $('#search');
          $($searchtmp).toggleClass('hidden');
          }
    </script>
